<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevOps Project PipelinePage</title>
        <link href="../static/Appcicdd.css" type="text/css" rel="stylesheet"/>
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
            rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="../static/Appcicd.js" defer></script>
    </head>
    <body>
        <div class="container" style="overflow-y: auto; max-height: 100vh">
      
        <div><button id="bouton" style="background-color: red; margin-top: 5px;">Se déconnecter</button>

          <script>
          document.getElementById("bouton").addEventListener("click", function() {
              window.location.href = "{{ url_for('.logout') }}";
          });
          </script>
          <h3 style="margin-top: 5px;">Welcome Back <strong style="color: red;">@{{ user.username }}</strong> </h3>
          </div>        
        <div><h3 style="margin-top: 5px;">Tous les pipelines</h3>
          <button id="bouton" onclick="executerActions()">Lancer la pipeline</button></div>
            <div class="Pipeline">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Pipeline</th>
                        <th scope="col">Stages</th>
                        <th scope="col">Date</th>
                        <th scope="col">Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%- for pipeline in pipelines %}
                      <tr>
                        <th  id="status-1" scope="row">{{ pipeline.status }}</th>
                        <td id="pipeline1">{{ pipeline.id }}</td>
                        <td>
                            <div id="stages">
                              {% if pipeline.stages_status is not none %}
                                {% set result_list = pipeline.stages_status.split(',') %}
                                {% for status in result_list%}
                                      <span id="circle-{{ loop.index }}" class="circle {{ status }}">{{ loop.index }}</span>
                                {% endfor %}
                              {% else %}
                                {% for i in range(5) %}
                                  <span id="circle-{{ loop.index }}" class="circle circle-inactif">{{ loop.index }}</span>
                                {% endfor %}
                              {% endif %}
                              <div class="progress-bar">
                                <span class="indicator"></span>
                              </div>
                            </div>
                        </td>
                        <td id="startTime"><div>{{ pipeline.date }}</div></td> 

                        <td id="totalDuration">{{ pipeline.duration }}</td>
                        <td id="detail"> 
                          <div id="result1"></div>
                          <div id="result2"></div>
                          <div id="result3"></div>
                          <div id="result4"></div>
                          <div id="result5"></div></td>
                      </tr>
                      {%- endfor %}
                    </tbody>
                  </table>

              
                  {% if user.isAdmin %}
                  <h3>Tous les Clients</h3>
                  {% for client in all_clients %}
                  <pre>
                      <strong>Client Info</strong>
                      {%- for key, value in client.client_info.items() %}
                      <strong>{{ key }}: </strong>{{ value }}
                      {%- endfor %}
                      <strong>Client Metadata</strong>
                      {%- for key, value in client.client_metadata.items() %}
                      <strong>{{ key }}: </strong>{{ value }}
                      {%- endfor %}

                  </pre>
                  <hr>
                  {% endfor %}
                  {% endif %}
                
                  {% for client in user.clients %}
                  {% if client.user == user %}
                  <pre>
                      <strong>Client Info</strong>
                      {%- for key, value in client.client_info.items() %}
                      <strong>{{ key }}: </strong>{{ value }}
                      {%- endfor %}
                      <strong>Client Metadata</strong>
                      {%- for key, value in client.client_metadata.items() %}
                      <strong>{{ key }}: </strong>{{ value }}
                      {%- endfor %}
                     
                  </pre>
                  <hr>
                  {% endif %}
                  {% endfor %}
                

                  <script>

                   async function executerActions() {

    const status_stages = ["inactif", "inactif", "inactif", "inactif", "inactif"];
    let postResult = await post_data('/create_pipeline', "");
    console.log('hello');
    const startTime = new Date();
    document.getElementById('startTime').innerText = formatDateTime(startTime);
    const pipelineNumber = generateRandomAlphanumeric();
    document.getElementById('pipeline1').innerText = `#${pipelineNumber}`;
    const scripts = [
        { endpoint: "{{ url_for('.run_code') }}", resultDivId: 'result1', circleId: 'circle-1', statusElementId: 'status-1' },
        { endpoint: "{{ url_for('.run_second_code') }}", resultDivId: 'result2', circleId: 'circle-2', statusElementId: 'status-1' },
        { endpoint: "{{ url_for('.run_sonar_code') }}", resultDivId: 'result3', circleId: 'circle-3', statusElementId: 'status-1' },
        { endpoint: "{{ url_for('.create_dockers') }}", resultDivId: 'result4', circleId: 'circle-4', statusElementId: 'status-1' },
        { endpoint: "{{ url_for('.deploy') }}", resultDivId: 'result5', circleId: 'circle-5', statusElementId: 'status-1' }
    ];


    for (let i = 0; i < scripts.length; i++) {
        const result = await runScript(scripts[i].endpoint, scripts[i].resultDivId, scripts[i].circleId, scripts[i].statusElementId);
        status_stages[i] = result.statusState;
    }
    const endTime = new Date();
    const duration = endTime - startTime;
    const durationInSeconds = Math.floor(duration / 1000);
    const minutes = Math.floor(durationInSeconds / 60);
    const seconds = durationInSeconds % 60;
    document.getElementById('totalDuration').innerText = `${minutes} minutes et ${seconds} secondes`;
      
    console.log('Durée totale d\'exécution :', duration, 'millisecondes');
    let data = {
        'id': pipelineNumber,
        'status_stages': status_stages,
        'status': status_stages[scripts.length - 1],
        'duration': duration,
        'date': startTime
    };
    postResult = await post_data('/update_pipeline', data);
    if (postResult.statusState === "success") {
        // Handle success
    } else {
        // Handle failure
        console.error(postResult.statusError);
    }
}

                  
                  function generateRandomAlphanumeric(length = 8) {
                      const charset = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                      let result = '';
                      for (let i = 0; i < length; i++) {
                          const randomIndex = Math.floor(Math.random() * charset.length);
                          result += charset.charAt(randomIndex);
                      }
                      return result;
                  }
                  
                  function formatDateTime(dateTime) {
                      const options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false };
                      return dateTime.toLocaleString('fr-FR', options);
                  }
                </script>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>

</html>
