<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page de création d'utilisateur</title>
  <!-- Lien de la bibliothèque Remixicon pour les icônes -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- Appel de la page style css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <!-- The main content container -->
  <div class="container">
    <!-- Section de décoration-->
    <div class="design">
      <div class="pill-1 rotate-45"></div>
      <div class="pill-2 rotate-45"></div>
      <div class="pill-3 rotate-45"></div>
      <div class="pill-4 rotate-45"></div>
    </div>
    <div class="login">
      <h3 class="title">Création d'utilisateur</h3>
      <form action="" method="post">
        
        <div class="text-input">
          <i class="ri-user-fill"></i>
          <input id="username" type="text" name="username" placeholder="Nom d'utilisateur">
        </div>
         <div class="text-input">
                    <i class="ri-lock-fill"></i>
                    <input id="passwd" type="password" name="password" placeholder="Mot de passe">
                </div>
        <button class="login-btn" id="loginButton" type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>

</html>